input_height: 300
input_width: 300

postprocessing_params {
    num_classes: 91
    background_label_id: 0
    max_detections: 100
    
    nms_params {
        score_threshold: 0.300000011921
        iou_threshold: 0.6000000023842
        max_detections_per_class: 100
    }
    
    box_params {
        var: 0.1
        var: 0.1
        var: 0.2
        var: 0.2
    }
}

score_converter: SIGMOID
        
